.heading {
    font-family: "Leckerli One", cursive;
    font-size: 50px;
    color: var(--white);
}

.splash-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background);
}

.navbar {
    background-color: var(--btn-color);
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    height: 78px;
    z-index: 1000;
}

.navbar > a {
    text-decoration: none;
}

.nav-icon {
    display: flex;
    font-size: 13px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-icon > p {
    color: var(--white);
}

.nav-icon > p::first-letter {
    text-transform: uppercase;
}

.nav-icon > img:hover {
    filter: brightness(0) saturate(100%) invert(56%) sepia(35%) saturate(6868%) hue-rotate(173deg) brightness(103%) contrast(107%);
}

.nav-icon > img {
    width: 24px;
}

.active-navicon {
    filter: brightness(0) saturate(100%) invert(56%) sepia(35%) saturate(6868%) hue-rotate(173deg) brightness(103%) contrast(107%);
}

.viewsource-btn {
    background-color: var(--white);
    font-family: monospace;
    font-size: 15px;
    color: var(--black);
    display: inline-flex;
    align-items: center;
    gap: 0.2rem;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    transition: background-color 0.2s ease-in;
    font-weight: bolder;
}

.viewsource-btn:hover {
    cursor: pointer;
    background-color: #dcdcdc;
}

.page-container {
    background-color: var(--background);
    min-height: calc(100vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;
    padding-bottom: 8rem;
    padding-top: 2rem;
}

.content-container {
    max-width: 360px;
    margin: 0 20px;
    text-align: center;
    color: var(--white);
    background-color: var(--container-bg);
    padding: 2rem 1.5rem;
    border-radius: 12px;
    font-size: 14px;
}

.heading-container > h1 {
    font-size: 48px;
    font-family: "Leckerli One", cursive;
    color: var(--white);
    font-weight: 100;
}

.heading-container > p {
    font-size: 24px;
    color: var(--white);
}

.subheading-container > h1 {
    font-size: 36px;
    font-family: "Leckerli One", cursive;
    color: var(--white);
    font-weight: 100;
    user-select: none;
}

.page-container > button {
    background-color: var(--btn-color);
    color: var(--white);
    padding: 0.8rem 2.8rem;
    border: none;
    font-size: 22px;
    font-weight: 600;
    border-radius: 36px;
    font-family: "Lexend", sans-serif;
}

.page-container > button:hover {
    cursor: pointer;
    background-color: var(--btn-color-hover);
}


.footer {
    color: var(--white);
    font-size: 14px;
    margin-top: 3rem;
}

/*Main App Styles*/

.mainapp-container {
    background-color: var(--background);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    z-index: 10;
    padding-bottom: 10rem;
}

.music-list-btn {
    position: fixed;
    bottom: 100px;
    right: 25px;
    width: 60px;
}

.music-drawer {
    background-color: #191080;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 3rem 1.5rem 0 1.5rem;
    max-width: 400px;
    position: fixed;
    width: 90%;
    border-radius: 12px;
    bottom: 100px;
    display: flex;
    flex-direction: column;
    max-height: 400px;
    z-index: 500;
}

.scrollable-container {
    overflow-y: auto;
    scrollbar-width: none;
}

#close-btn {
    width: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.hide {
    display: none !important;
}

.music-container {
    background-color: #463CB6;
    display: flex;
    padding: 1rem 0 1rem 0;
    border-radius: 12px;
    margin: 1rem 0;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.thumb-name-holder {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    
}

.music-content > h4 {
    color: var(--white);
    font-size: 13px;
    max-width: 80px;
}

.music-content > p {
    color: #D0D0D0;
    font-size: 12px;
}

.pulsating-circle {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: hsl(255, 69%, 69%);
    z-index: 10;
    animation: pulse 1.5s infinite;

}

.pulsating-circle-animation {
    animation: pulse 1.5s infinite;
}

.fixed-circle {
    border-radius: 50%;
    width: 169px;
    height: 169px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 40px;
    font-weight: 700;
    z-index: 11;
    user-select: none;

    background-color: #302381;
}

.circle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

.matches-container {
    margin-top: 1rem;
    background-color: #30279C;
    border-radius: 12px;
    padding: 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.matches-container > h1 {
    color: var(--white);
    font-size: 40px;
    font-weight: 900;
}

.close-matches-container {
    margin-top: 2rem;
    color: var(--white);
}

.no-match-found {
    margin-top: 3rem;
    color: var(--white);
}